@model OnlineExamPlatform.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">

            <div class="page-wrapper">
                <div class="page-body">




                    @using (@Html.BeginForm("SavePassword","Examiner",FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.LabelFor(u => u.OldPassword)
                            @Html.TextBoxFor(u => u.OldPassword, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(u => u.OldPassword)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(u => u.NewPassword)
                            @Html.TextBoxFor(u => u.NewPassword, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(u => u.NewPassword)
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(u => u.ConfirmNewPassword)
                            @Html.TextBoxFor(u => u.ConfirmNewPassword, new { @class = "form-control",type="password" })
                            @Html.ValidationMessageFor(u => u.ConfirmNewPassword)
                        </div>

                        @Html.AntiForgeryToken()
                       
                        <button class="btn btn-primary" type="submit">Save password</button>
                    }


                </div>
            </div>

        </div>
    </div>

</div>



@*To Enable Client Side Validation*@
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}
